<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="307200" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="314572800" />
				<verbs allowUnlisted="true" applyToWebDAV="true">
					<add verb="DELETE" allowed="true" />
					<add verb="POST" allowed="true" />
					<add verb="GET" allowed="true" />
				</verbs>				
			</requestFiltering>
		</security>			
	</system.webServer>
</configuration>