<h2 class="main"><?php echo get_string('progressindicators','block_lpr'); ?></h2>
<form action="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/save.php?id=<?php echo $lpr->id; ?>&amp;page=indicators" method="post">
    <table id="lpr_indicators" cellspacing="0" class="generaltable indicators equal_columns crowded">
        <tr>
            <td colspan="<?php echo count($indicators)+3;?>" class="left">
                <?php echo get_string('outcometodate','block_lpr'); ?><br/>
                <span class="pad_right">1 = <?php echo get_string('goodbetter','block_lpr'); ?></span>
                <span class="pad_right">2 = <?php echo get_string('ontrack','block_lpr'); ?></span>
                <span class="pad_right">3 = <?php echo get_string('underperforming','block_lpr'); ?></span>
                <span class="pad_right">4 = <span style="color:red">???</span></span>
                <br/>
            </td>
        </tr>
        <tr class="big">
            <th>&nbsp;</th>
            <th><?php echo get_string('overallatt','block_lpr'); ?></th>
            <th><?php echo get_string('overallpunc','block_lpr'); ?></th>
            <?php
            foreach($indicators as $ind) {
                echo "<th>{$ind->indicator}</th>";
            } ?>
        </tr>
        <?php
        foreach($indicator_answers as $ans) { ?>
            <tr>
                <td><?php echo $ans->name; ?></td>
                <td><?php echo !empty($ans->att) ? round($ans->att, 2) : '-'; ?></td>
                <td><?php echo !empty($ans->punc) ? round($ans->punc, 2) : '-'; ?></td>
                <?php
                foreach($indicators as $ind) {
                    echo '<td>'.$ans->{'ans'.$ind->id}.'</td>';
                } ?>
            </tr>
            <?php
        }
        if($editable) { ?>
            <tr>
                <td colspan="<?php echo count($indicators)+3;?>" class="left padded">
                    <?php echo get_string('indsthislpr','block_lpr'); ?>
                </td>
            </tr>
            <tr>
                <td><?php echo $lpr->name; ?></td>
                <td>
                    <?php
                    echo !empty($indicator_answers[$lpr->id]->att)
                        ? round($indicator_answers[$lpr->id]->att, 2)
                        : '-';
                    ?>
                </td>
                <td>
                    <?php
                    echo !empty($indicator_answers[$lpr->id]->punc)
                        ? round($indicator_answers[$lpr->id]->punc, 2)
                        : '-';
                    ?>
                </td>
                <?php
                foreach($indicators as $ind) { ?>
                    <td>
                        <?php
                        // don't show the select menu if the question is no longer
                        // in the current set
                        if($ind->answerable) {
                            $options = array();
                            // generate the list of options from $ind->bound
                            for($i=1; $i<=$ind->bound; $i++) {
                                $options[$i] = $i;
                            }
                            echo choose_from_menu($options, $ind->id,
                                $indicator_answers[$lpr->id]->{'ans'.$ind->id},
                                '&nbsp;', null, null, true, false, 0, '',
                                false, false, 'ind_select');
                        } ?>
                    </td>
                    <?php
                } ?>
            </tr>
            <?php
        } ?>
    </table>
    <?php
    if($editable) { ?>
        <div class="buttons">
            <?php
            // if this is a normal LPR then show the submit/back buttons
            if($lpr->type_id == '1') { ?>
                <input type="submit" name="name" value="<?php echo get_string('submitcontinue','block_lpr'); ?>"/>
                <input type="button" onclick="javascript:window.location = '<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/edit.php?id=<?php echo $lpr->id; ?>&amp;page=summary'" name="name" value="<?php echo get_string('back','block_lpr'); ?>"/>
                <?php
            } else {
                // otherwise show the create/cancel buttons ?>
                <input type="submit" name="name" value="<?php echo get_string('continuecreate','block_lpr'); ?>"/>
                <input type="button" onclick="javascript:window.location = '<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/delete.php?id=<?php echo $lpr->id; ?>'" name="name" value="<?php echo get_string('cancel','block_lpr'); ?>"/>
                <?php
            } ?>
        </div>
        <?php
    } ?>
</form>