<form action="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/outstanding_subject.php?<?php echo http_build_query($_GET); ?>" method="post" name="filter">
	<div>Filter Tutor
			<?php if (!empty($tutors)) {?>
			<select name="tutor_id" onchange="this.form.submit()" >
				<?php if (empty($tutor_id)) {?>
				<option value="" ><?php echo get_string("selectatutor", 'block_lpr');?></option>
				<?php } ?>
				<?php foreach ($tutors as $t) {?>
					<option value="<?php echo $t->mdl_tutor_id; ?>" <?php if ($tutor_id == $t->mdl_tutor_id) echo 'selected="selected"'; ?>><?php echo $t->tutor_name; ?></option>
				<?php } ?>
			</select>
			<?php } ?>
	</div>
	<?php if (empty($course_id)) {?>
	<div>Filter By Module
			<?php if (!empty($modules)) {?>
			<select name="module_id" onchange="this.form.submit()" >
				<?php if (empty($module_id)) {?>
				<option value="" ><?php echo get_string("selectamodule", 'block_lpr');?></option>
				<?php } ?>
				<?php foreach ($modules as $m) {?>
					<option value="<?php echo $m->module_code; ?>" <?php if ($module_id == $m->module_code) echo 'selected="selected"'; ?>><?php echo $m->module_code; ?></option>
				<?php } ?>
			</select>
			<?php } ?>
	</div>
	<?php } ?>
	<div>
		<span><a href="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/outstanding_subject.php?<?php echo http_build_query($_GET); ?>">Remove Filters</a><span>
	
	</div>
	

</form>


<div class="block_lpr">
    <?php
	
    // print the table
    $table->print_html();
    ?>
</div>
<br />
<?php
// display a small form for adjusting the number of records to display in the table ?>
<form action="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/outstanding_subject.php?<?php echo http_build_query($_GET); ?>" method="post">
    <table id="optiontable" class="block_lpr_center">
        <tr>
            <td>
                <input type="hidden" id="updatepref" name="updatepref" value="1" />
                <label for="perpage"><?php echo get_string('pagesize','block_lpr');?>:</label>
            </td>
            <td>
                <input type="text" id="perpage" name="perpage" size="1" value="<?php echo $perpage;?>" />
            </td>
            <td>
                <input type="submit" value="<?php echo get_string('savepreferences'); ?>" />
            </td>
        </tr>
    </table>
</form>