.pdf { /*width : 595px;*/ font-size : 11pt; font-family : serif; padding-top : 146px; padding-bottom : 45px; } 
.pdf .review { text-align : center; /*width : 500px;*/ width : 665px; margin : 0 auto; page-break-after : always } 
.pdf .box { border : 1px solid #DDDDDD; text-align: left; padding : 10px; } 
.pdf .box table { width : 80% } 
.pdf .lpr { text-align : center; /*width : 500px;*/ width : 665px; margin : 0 auto; } 
.pdf .tutor { margin-top : 20px;/*page-break-before : always;*/ /*.section&gt;p:first-child {*/ padding-top : -116px; } 
.pdf .indicator { font-weight : bold; width : 44px; } 
.pdf .comments { text-align : left; padding-left : 10px; } 
.pdf .comments table { width : 100%; } 
.pdf .subject { width : 100%; page-break-inside : avoid; border-collapse : collapse; cell-spacing : 0; } 
.pdf .subject_field { text-align : left; padding-left : 10px; } 
.subject td { border : 1px solid #DDDDDD; padding : 2px; } 
.pdf .container { width : 665px; padding-bottom : 116px; page-break-inside :auto; color : #FFFFFF; } 
.pdf .atten_table { width : 100%; page-break-inside : avoid; border-collapse : collapse; cell-spacing : 0; margin-top : 20px; } 
.pdf .atten_table td, .pdf .atten_table th { border : 1px solid #DDDDDD; padding : 2px; }