<div class="block_lpr">
    <div class="export mform">
        <?php
        if(!empty($msg)) {
            echo "<div class='msg'>{$msg}</div>";
        } ?>
        <script type="text/javascript" src="<?php echo $CFG->wwwroot;?>/blocks/lpr/views/js/mootools.js"></script>
        <script type="text/javascript" src="<?php echo $CFG->wwwroot;?>/blocks/lpr/views/js/calendar.compat.js"></script>
        <fieldset class="clearfix">
            <legend class="ftoggler">Filters</legend>
            <form action="<?php echo $CFG->wwwroot; ?>/blocks/lpr/actions/print.php" method="post">
				<?php 
				if(!$single) {?>
					<p>
						<label for="folder">Output Folder</label>
						<input id="folder" type="text" name="folder" value="<?php echo date('Y-m-d', time());?>" />
					</p>
					<p>
						<label for="menucategory_id">Category</label>
						<?php echo choose_from_menu($categories, 'category_id', '', '&nbsp;'); ?>
					</p>
					<?php 
				} else { ?>
					<input id="folder" type="hidden" name="folder" value="singleprint" />
					<input id="folder" type="hidden" name="single" value="1" />
					<?php 
				} ?>
                <p>
                    <label for="menulearner_id">Learner</label>
                    <?php echo choose_from_menu($learners, 'learner_id', $learner_id, '&nbsp;'); ?>
                </p>
                <p>
                    <label for="start_date">Date Range</label>
                    <span>
                        <input id="start_date" name="start_date" type="text" value="" />
                        <input id="end_date" name="end_date" type="text" value="" />
                    </span>
                    <script type="text/javascript">
                        window.addEvent(
                            'domready',
                            function() {
                                exportCal = new Calendar({
                                    start_date: { start_date: 'd/m/Y' },
                                    end_date: { end_date: 'd/m/Y' }
                                    }, { pad: 1, direction: -1, classes: ['lpr_calendar']}
                                );//, navigation: 2
                            });
                    </script>
                </p>
                <p class="center">
                    <input type="submit" value="Generate" />
                </p>
            </form>
        </fieldset>
		<?php 
		if(!$single) {?>		
			<fieldset class="clearfix">
				<legend class="ftoggler">CSV Upload</legend>
				<form action="<?php echo $CFG->wwwroot; ?>/blocks/lpr/actions/print.php" method="post" enctype="multipart/form-data">
					<p>
						<label for="csv_folder">Output Folder</label>
						<input id="csv_folder" type="text" name="folder" value="<?php echo date('Y-m-d', time());?>" />
					</p>
					<p>
						<label for="csv_file">File</label>
						<input id="csv_file" type="file" name="csv_file" />
					</p>
					<p>
						<label for="start_date_file">Date Range</label>
						<span>
							<input id="start_date_file" name="start_date" type="text" value="" />
							<input id="end_date_file" name="end_date" type="text" value="" />
						</span>
						<script type="text/javascript">
							window.addEvent(
								'domready',
								function() {
									exportCal = new Calendar({
										start_date_file: { start_date_file: 'd/m/Y' },
										end_date_file: { end_date_file: 'd/m/Y' }
										}, { pad: 1, direction: -1, classes: ['lpr_calendar']}
									);//, navigation: 2
								});
						</script>
					</p>
					<p class="center">
						<input type="submit" value="Generate" />
					</p>
				</form>
			</fieldset>
			<?php 
		} ?>
    </div>
</div>