<br />
<?php
// you can create an LPR without selecting a course, but not without selecting a learner
if($can_write && !empty($learner)) { ?>
    <div class="block_lpr_buttons">
        <form action="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/create.php?<?php echo implode('&amp;', $params); ?>" method="post">
            <div>
                <input type="submit" name="submit" value="<?php echo get_string('createnew','block_lpr'); ?>" />
            </div>
        </form>
    </div>
    <?php
}
// display a small form for adjusting the number of records to display in the table ?>
<form action="<?php echo $CFG->wwwroot;?>/blocks/lpr/actions/list.php?<?php echo http_build_query($_GET); ?>" method="post">
    <table id="optiontable" class="block_lpr_center">
        <tr>
            <td>
                <input type="hidden" id="updatepref" name="updatepref" value="1" />
                <label for="perpage"><?php echo get_string('pagesize','block_lpr');?>:</label>
            </td>
            <td>
                <input type="text" id="perpage" name="perpage" size="1" value="<?php echo $perpage;?>" />
            </td>
            <td>
                <input type="submit" value="<?php echo get_string('savepreferences'); ?>" />
            </td>
        </tr>
    </table>
</form>